# Project Name- SYRIATEL CUSTOMER CHURN

# 1. Business Understanding

### 1.1 Business Overview

SyriaTel is a communications company that offers mobile and communications services to it's customers. Customer churn refers to a situation where customers stop using company's products or services over a given period. In the telecommunications industry, this often means customers cancel their mobile, internet, or bundled service subscriptions and switch to a competitor.
The business goal is to reduce customer churn, which directly impacts revenue and long-term profitability. By analyzing customer behavior and service usage data, SyriaTel aims to identify customers who are likely to leave and implement proactive strategies to retain them.


### 1.2 Problem Statement

SyriaTel is experiencing a significant number of customers discontinuing their services. Losing customers not only affects immediate revenue but also increases customer acquisition costs. The problem is to identify patterns in customer data that signal a high risk of churn and develop a predictive model to flag such customers before they leave.


### 1.3 Business Objectives

#### Main Objective:
To build a predictive model that accurately identifies customers at risk of churning, allowing the business to take timely retention actions.

#### Specific Objectives:

* To Identify and prioritize the top churn drivers.
* To determine how much revenue is lost due to customer churn.
* To build a baseline model to predict churn with interpretable results.
* To compare and evaluate the performance of different models to determine the most effective.
* To optimize pricing for retention.

### 1.4 Research Questions

* What are the top churn factors driving customer churn?
* How much revenue is lost due to customer churn over a given period?
* Can a baseline machine learning model accurately predict whether a customer will churn?
* Which machine learning model performs best in predicting churn based on classification metrics?
* How does pricing impact customer retention, and what pricing strategies can be implemented to reduce churn without significantly impacting revenue?

### 1.5 Success Criteria

# 2. Data Understanding

In [2]:
# importing the necessary libraries
import pandas as pd

In [3]:
# loading our dataset
data = pd.read_csv("bigml_59c28831336c6604c800002a.csv")

In [4]:
# previewing the dataset
data.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [5]:
df.columns

NameError: name 'df' is not defined

In [1]:
df.info()

NameError: name 'df' is not defined